$primaryColor: #2196F3;
$primaryColorDark: #0069c0;
$primaryColorLight: #6ec6ff;
$primaryColorFilter: rgba(23,105,170,0.75);
$secondaryColor: #5e35b1;
$secondaryColorDark: #280680;
$secondaryColorLight: #9162E4;
$backgroundColor: #212121;
$backgroundColorFilter: rgba(23, 23, 23, 0.55);
$backgroundColorDark: #171717;
$backgroundColorLight: #4D4D4D;

// Porcentajes aureos
$X0: 61.8046971569839%;
$Y0: 61.8046971569839%;
$X1: 38.1701231515817%;
$Y1: 38.2094664194479%;
$X2: 23.5773474339605%;
$Y2: 23.627420683972%;
$X3: 14.5927757176212%;
$Y3: 14.6142356819118%;
$X4: 9.04179828778098%;
$Y4: 9.04537494849609%;
$X5: 5.60820400128187%;
$Y5: 5.60105067985167%;
$X6: 3.49082085794076%;
$Y6: 3.47651421508035%;
$X7: 2.17460971478277%;
$Y7: 2.15672641120725%;
$X8: 1.31621114315799%;
$Y8: 1.31978780387309%;
$X9: 0.801172000183125%;
$Y9: 0.804748660898228%;
$X10: 0.515039142974866%;
$Y10: 0.482849196538937%;
$X11: 0.343359428649911%;
$Y11: 0.289709517923362%;
$X12: 0.228906285766607%;
$Y12: 0.193139678615575%;
$X13: 0.114453142883304%;
$Y13: 0.128759785743716%;
$X14: 0.0572265714416518%;
$Y14: 0.0643798928718582%;

// View Holder Aurico
$XVH0: 61.8046971569839vw;
$YVH0: 61.8046971569839vh;
$XVH1: 38.1701231515817vw;
$YVH1: 38.2094664194479vh;
$XVH2: 23.5773474339605vw;
$YVH2: 23.627420683972vh;
$XVH3: 14.5927757176212vw;
$YVH3: 14.6142356819118vh;
$XVH4: 9.04179828778098vw;
$YVH4: 9.04537494849609vh;
$XVH5: 5.60820400128187vw;
$YVH5: 5.60105067985167vh;
$XVH6: 3.49082085794076vw;
$YVH6: 3.47651421508035vh;
$XVH7: 2.17460971478277vw;
$YVH7: 2.15672641120725vh;
$XVH8: 1.31621114315799vw;
$YVH8: 1.31978780387309vh;
$XVH9: 0.801172000183125vw;
$YVH9: 0.804748660898228vh;
$XVH10: 0.515039142974866vw;
$YVH10: 0.482849196538937vh;
$XVH11: 0.343359428649911vw;
$YVH11: 0.289709517923362vh;
$XVH12: 0.228906285766607vw;
$YVH12: 0.193139678615575vh;
$XVH13: 0.114453142883304vw;
$YVH13: 0.128759785743716vh;
$XVH14: 0.0572265714416518vw;
$YVH14: 0.0643798928718582vh;

// Header
$headerHeight: $YVH5 + $YVH9;

// SideNavBar
$sideNavBarWidth: $XVH5 + $XVH7;

$sitePadding: $YVH7;

@mixin generalPadding {    
    padding: 0 $sitePadding;
}